<div class="w-full h-full flex flex-col rounded-xl bg-white p-6 gap-5 justify-between overflow-y-auto">

  <div class="w-full flex flex-col gap-5" *ngIf="!show">
    <span class="rounded-md shadow px-6 py-3 bg-slate-100 text-center">Add Tasks here / Click on a list to view the
      tasks</span>
  </div>

  <div class="w-full flex flex-col gap-5" *ngIf="show">
    <div
      class="flex flex-row justify-between rounded-md sm:px-6 px-3 py-3 bg-slate-100 hover:shadow-md hover:cursor-pointer hover:bg-slate-200"
      *ngFor="let task of tasks; let i = index" (click)="toggleStatus(i)"
      [ngClass]="{'hover:shadow-none bg-slate-200	hover:bg-slate-200':task.status == true}">
      <span [ngClass]="{'line-through':task.status == true}"
        class="leading-5 text-justify overflow-hidden text-ellipsis break-all" style="
            max-width: 10rem;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;">{{task.taskName}}</span>
      <div class="flex flex-row sm:gap-5 gap-2">
        <mat-icon (click)="editTask($event,task.taskId,task.taskName)"
          class="hover:shadow-md hover:bg-slate-300 text-[#007afd] rounded-full">edit</mat-icon>
        <mat-icon (click)="deleteTask($event,task.taskId)"
          class="hover:shadow-md hover:bg-slate-300 text-red-600 rounded-full">delete</mat-icon>
      </div>
    </div>

  </div>

  <div class="mt-auto flex flex-row justify-end items-center absolute bottom-14 right-12">
    <button matTooltip="Add task" [matTooltipPosition]="'above'" matTooltipHideDelay="1000"
      class="rounded-full bg-sky-200 text-slate-500 py-[0.5rem] px-[0.65rem]"
      (click)="newTask()"><mat-icon>add</mat-icon></button>
  </div>
</div>